@import '../../assets/sizeResponsive.scss';

header{
    width: 100%;
}

main{
    height: 100dvh;
    position: relative;
    width: auto;
    overflow: hidden;
}

@media (max-width: calc($breakpoint-tablet - 1px)) {
    main{
        padding-bottom: 5rem;
    }
}