@import '../../../assets/colores.scss';

    // Estilos relacionados a la informacion principarl del perfil
    .data-perfil{
        height: calc(45vh - 69px);
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 20%;
        box-shadow: 0px 5px 10px 5px rgba(184,184,184,1);

        .filter-bg{
            background-color: $color-bg;
            filter: opacity(0.95);
            width: 100%;
            height: calc(45vh - 69px);
            position: absolute;
            left: 0;
            z-index: 1;
        }

        .bg{
            position: absolute;
            filter: grayscale(1);
            left: 0;
            width: 100%;
            height: calc(45vh - 69px);
            object-fit: cover;
            z-index: 0;
        }

        //Estilos para la imagen de perfil
        .img-perfil{
            height: 100%;
            width: 400px;
            padding: 50px 0;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 5;

            img{
                height: 200px;
                width: 200px;
                border-radius: 50%;
                box-shadow: 0px 0px 25px 0px rgba(184,184,184,1);
            }

            .hola{
                background-color: #f3650f;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100px;
                width: 100px;
                padding-left: 15px;
                position: absolute;
                bottom: 50px;
                right: 100px;
                border-radius: 50%;

                h5{
                    margin-left: 10px;
                    font-weight: 400;
                }

                h6{
                    font-size: small;
                    font-weight: 200;
                }
            }
        }

        .info{
            color: $color-texto;
            width: 80%;
            padding: 50px 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            z-index: 5;

            .edit{
                background-color: $color-fondo-perfil;
                position: relative;
                left: calc(100% - 200px);
                color: white;
                border: none;
                height: 50px;
                width: 200px;
                border-radius: 10px;

                span{
                    margin-left: 10px;
                    font-size: larger;
                }
            }
        }
    }