@import '../../../../assets/colores.scss';

.quienes-somos {
  height: 100%;
  width: 100%;
  background-color: $color-secundario;
  color: $color-texto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .text-section {
    background-color: $color-primario;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;

    p {
      color: $color-texto;
      max-width: 50%;
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  .imagenes {
    background-color: white;
    width: 35%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(243, 216, 151, 255);
    z-index: 2;
    aspect-ratio: 1 / 1;

    .circular-image {
      width: 95%;
      height: 95%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .logos {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 10%;

    img {
      width: 10rem;
      margin-right: 75px;
    }

    .equidad {
      width: 8rem;
    }
  }
}