@import '../../assets/colores.scss';
@import '../../assets/sizeResponsive.scss';

.main-home{
    background-color: #ebebe7;
    height: 100dvh;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    .title-seguros{
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 6rem;

        .title{
            width: 70%;
            color: $color-texto;
            font-size: 3rem;
            font-weight: 400;
        }

        .edit{
            background-color: $color-fondo-perfil;
            color: white;
            border: none;
            height: 50px;
            width: 200px;
            border-radius: 10px;

            span{
                margin-left: 10px;
                font-size: larger;
            }
        }
    }

    .insurance-cards{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 200px;
        gap: 3rem;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none; 
        }
    }
}


@media (max-width: $breakpoint-tablet) {

}

@media (max-width: $breakpoint-mobile) {
    .main-home{
        .title-seguros{
            margin-top: 3rem;

            .title{
                font-size: 2rem;
            }

            .edit{
                width: 25%;

                span{
                    display: none;
                }
            }
        }
    }
}