@import '../../../../assets/colores.scss';
@import '../../../../assets/sizeResponsive.scss';


.login {
    background-color: $color-secundario;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        background-color: $color-terciario;
        padding: 0;
        display: flex;
        position: relative; /* Asegúrate de que la sección contenedora sea el contexto de z-index */

        .img-section {
            z-index: 10; /* Z-index alto para asegurar que esté por encima */
            transition: all 1s ease;

            .div-img-loader{
                overflow: hidden;
            }
        }

        .loginForm {
            position: relative; 
            z-index: 5;
        }

        .loginForm, .register-form {
            transform-style: preserve-3d; 
        }
    }
}

@media (min-width: calc($breakpoint-desktop - 1px)) {
    .login {
        height: calc(100% - 5rem);
            
        .container {
            background-color: $color-terciario;
            height: 75%;
            width: 75%;
            padding: 0;
            display: flex;
            position: relative; /* Asegúrate de que la sección contenedora sea el contexto de z-index */
    
            .img-section {
                height: 100%;
                width: 50%;
                display: flex;
                position: absolute; /* Configurar posición absoluta para superponerse */
                right: 0; /* Asegúrate de que esté donde debe estar */
                transition: all 1s ease;

                .loader{
                    background-color: white;
                    height: 100%;
                    width: 100%;
                }
    
                .img-bg {
                    width: 100%;
                }
    
                .bar {
                    position: absolute;
                    height: 110%;
                    width: 1.4rem;
                    top: -5%;
                    transition: all 1s ease;
                }
    
                .bar1 {
                    background-color: #0ba3a6;
                    right: 17%;
                }
    
                .bar2 {
                    background-color: $color-primario;
                    right: 23%;
                }
            }

        }
    }
}

@media (max-width: $breakpoint-desktop) {
    .login {
            
        .container {
            perspective: 1000px;
            height: 100%;
            width: 75%;

            .loginForm {
                width: 100%;
                position: absolute;
                transform: rotateY(0deg);
                align-items: center;
            }

            .register-form {
                width: 100%;
                position: absolute;
                transform: rotateY(90deg); 
                z-index: 5;
            }
    
            .img-section {
                display: none;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .login {
            
        .container {
            perspective: 1000px;
            height: 100%;
            width: 100%;

            .loginForm {
                width: 100%;
                margin-top: -75px;
                position: absolute;
                transform: rotateY(0deg);
                align-items: center;
            }

            .register-form {
                width: 100%;
                margin-top: 50px;
                position: absolute;
                transform: rotateY(90deg); 
                z-index: 5;
            }

            .loginForm .buttons, .register-form .buttons {
                align-items: center;
                flex-direction: column-reverse;

                .btn{
                    margin: 0.5rem 0;
                }
            }
    
            .img-section {
                display: none;
            }
        }
    }
}
