@import '../../assets/colores.scss';
@import '../../assets/sizeResponsive.scss';

.footer {
    background-color: $color-primario;
    height: 10vh;
    text-align: center;
    padding: 10px 0;
    z-index: 25;

    .social-links {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            color: $color-texto;

            &:hover {
                color: $color-hover;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 5rem;
        width: 30%;

    }
}

@media (max-width: $breakpoint-tablet) {
    .footer {
        height: 5rem;
        position: relative;
        bottom: 0;
        transform: translate(0, -200%);
    }
}
  