$color-bg: #ebebe7;

// Colores principales
$color-primario: #fdbd1b;
$color-secundario: #ebebe7;
$color-terciario: #ffffff;

// Colores principales
$color-header-primario: #fdbd1b;
$color-header-secundario: #0ea2a4;
$color-header-terciario: #32bcbe;

// Texto
$color-texto: #333333; 
$color-texto-secundario: #808080; 
$color-texto-terciario: #ba967c;
$color-texto-cuarto: #dddddd;

// Otros colores
$color-hover: #e08e17; 
$color-borde: #dddddd; 
$color-iconos: #000000;
$color-fondo-seccion: #f2f2f2;
$color-fondo-perfil: #f3650f;
